{% extends "learning_logs/base.html" %}

{% block header %}
  <div class="jumbotron">
    <h1>Track your learning.</h1>
  </div>
{% endblock header %}

{% block content %}
  <h2>
    <a href="{% url 'users:register' %}">Register an account</a> to make your
    own Learning Log,and list the topics you're learning about.
  </h2>
  <h2>
    Whenever you learning something new about a topic, make an entry
    summarizing what you'ver learned.
  </h2>
  <h2>
    HOW TO USE
  </h2>
  <h3>
    1.you can sign up for a free account.
    2.you can add any theme.
    3.you can edit the content of your topic.
  </h3>
{% endblock content %}